{% extends '@partials/base.html.twig' %}

{% block title('Accueil') %}

{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-10">
            <h4>Date du jour : {{ "now" | date('d/m/Y')  }}</h4>
            <h4>Participant : Jeanine L.</h4>
        </div>
    </div>

    <h3>Filter les sorties</h3>

    <form>
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Campus :</label>
                    <div class="col-sm-9">
                        <select class="form-select" id="">
                            <option>SAINT HERBLAIN</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label for="" class="col-sm-6 col-form-label">Le nom de la sortie contient :</label>
                    <div class="col-sm-6">
                        <input id="" type="text" class="form-control" placeholder="Rechercher">
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <label for="" class="col-sm-2 col-form-label">Entre :</label>
                    <div class="col-sm-4">
                        <input id="" type="date" class="form-control">
                    </div>

                    <label for="" class="col-sm-2 col-form-label">et :</label>
                    <div class="col-sm-4">
                        <input id="" type="date" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="form-group mt-2">
                    <input id="" type="checkbox" class="form-check-input" checked>
                    <label for="">Sorties dont je suis l'organisateur/trice</label>
                </div>

                <div class="form-group">
                    <input id="" type="checkbox" class="form-check-input" checked>
                    <label for="">Sorties auxquelles je suis inscrit/e</label>
                </div>

                <div class="form-group">
                    <input id="" type="checkbox" class="form-check-input" checked>
                    <label for="">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>

                <div class="form-group">
                    <input id="" type="checkbox" class="form-check-input">
                    <label for="">Sorties passées</label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Philo</th>
                    <td>19/07/2018 23:45</td>
                    <td>19/07/2018</td>
                    <td>8/8</td>
                    <td>En cours</td>
                    <td>X</td>
                    <td>SPinoz A.</td>
                    <td><a href="#">Afficher</a></td>
                </tr>
                <tr>
                    <th>Philo</th>
                    <td>19/07/2018 23:45</td>
                    <td>19/07/2018</td>
                    <td>8/8</td>
                    <td>En cours</td>
                    <td>X</td>
                    <td>SPinoz A.</td>
                    <td><a href="#">Afficher</a></td>
                </tr>
                <tr>
                    <th>Philo</th>
                    <td>19/07/2018 23:45</td>
                    <td>19/07/2018</td>
                    <td>8/8</td>
                    <td>En cours</td>
                    <td>X</td>
                    <td>SPinoz A.</td>
                    <td><a href="#">Afficher</a></td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-lg btn-primary">Créer une sortie</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}