<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Logo Sortir.com</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>